Account list here

<button {{action "createNewTestAccount"}} >New</button>

<ul>
	{{#each model as |account| }}
		<li>
			{{#link-to "account" account}}{{account.name}} {{account.active}}{{/link-to}}
			<button {{action "deleteAccount" account}}>Delete</button>
			<button {{action "renameAccount" account}}>Rename</button>
		</li>
	{{/each}}
</ul>

{{outlet}}
